body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('images.jpg');
    
    background-repeat: no-repeat;
    height: 97vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0 0 5px black;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
.app{
    margin: 10px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    
    height: 97%;
    border: solid;
    width: 35%;
    border-radius: 38px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgba(128, 128, 128, 0.405);
    border-width: 1px;
    border-color: grey;
    box-shadow: 0 0 10px grey;
    backdrop-filter: blur(5px);
}
.Ad_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0081FB;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    color: white;
    text-shadow: 0 1px 1px black;
    box-shadow: 0px 0px 1px black;
    font-size: 24px;
    line-height: 1px;
    text-align: center;
}
.task{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    width: 99%;
    border:solid rgba(128, 128, 128, 0.348);
    border-width: 1px;
    box-shadow: 0 0 5px gray;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: none;
    backdrop-filter: blur(5px);
}
.top-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


/* .top-content h1 {
    margin-right: auto;
} */

.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.NewTaskForm{
    margin: 10px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    
    height: 97%;
    border: solid;
    width: 35%;
    border-radius: 38px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgba(128, 128, 128, 0.405);
    border-width: 1px;
    border-color: grey;
    box-shadow: 0 0 10px grey;
    backdrop-filter: blur(10px);

    transition: all 0.5s ease-in-out;
}
.Dates{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
.NewTaskForm{
    display: flex;
    flex-direction: column;
    
}
.new-task-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
