body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('images.jpg');
    
    background-repeat: no-repeat;
    height: 97vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0 0 5px black;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
.app{
    margin: 10px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 97%;
    border: none;
    width: 35%;
    border-radius: 38px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgba(128, 128, 128, 0.203);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px grey;
}
.Ad_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0081FB;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    color: white;
    text-shadow: 0 1px 1px black;
    box-shadow: 0px 0px 1px black;
    font-size: 24px;
    line-height: 1px;
    text-align: center;
}
.task{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    width: 99%;
    /* border:solid rgba(128, 128, 128, 0.348); */
    border: none;
    border-width: 1px;
    /* box-shadow: 0 0 5px gray; */
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: none;
    backdrop-filter: blur(10px);
}
.top-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


/* .top-content h1 {
    margin-right: auto;
} */

.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.NewTaskForm{
    margin: 10px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    
    height: 97%;
    border: none;
    width: 35%;
    border-radius: 38px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgba(128, 128, 128, 0.181);
    
    border-color: grey;
    box-shadow: 0 0 10px grey;
    backdrop-filter: blur(10px);

    transition: all 0.5s ease-in-out;
}
.Dates{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
.NewTaskForm{
    display: flex;
    flex-direction: column;
    align-items: left;
    /* justify-content: space-around; */
    
}
.new-task-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.save-new-task{
    border: none;
    color: white;
    background-color: #0081FB;
    padding: 5px 20px 5px 20px;
    font-size: medium;
    border-radius: 38px;
}

.newTaskName{
    width: 99%;
    padding:10px 5px 10px 5px;
    border-radius: 38px;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    
    backdrop-filter: blur(2px);
}

.meeting-time{
    width: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 38px;
    border: none;
    background-color: #0082fb00;
    backdrop-filter: blur(2px);
    color: white;
}
.date{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#comment{
    width: 85%;
    background-color: #0082fb00;
    border-radius: 38px;
    padding: 20px 10px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    backdrop-filter: blur(2px);
    color: white;
    font-size: 20px;
    height: 300px;

}